@{
    ViewData["Title"] = "LucasFlix";
}
@model FilmeSerie

<h1>Bem-Vindo ao LucasFlix</h1>

<h3>Veja alguns Filmes e Séries já cadastrados</h3>

<h4>==== Filmes ====</h4>

@*@try
{
    @foreach (var item in Model._Filme.NomeDoFilme)
    {
        <div>
            <p>Nome do Filme: @(Model._Filme.NomeDoFilme)</p>
            <p>Filme nº @(Model._Filme.Id) cadastrado</p>
            <p>Genero do Filme: @(Model._Filme.Genero.GeneroDoFilme)</p>
            <p>Classificação Inficativa do Filme: @(Model._Filme.Classificacao.ClassificacaoDoFilme)</p>
            <p>Nome do Ator que está no Filme: @(Model._Filme.Ator.NomeDoAtor)</p>
            <p>Nome do Diretor do Filme:  @(Model._Filme.Diretor.NomeDoDiretor)</p>
        </div>
        <br />
    }
}
catch (Exception)
{
    <p>Não há filmes cadastrados no momento.</p>
}*@

<p>Não há filmes cadastrados no momento.</p>


<br />
<hr />
<br />

<h4>==== Séries ====</h4>

@*@try
{
    @foreach (var item in Model._Filme.NomeDoFilme)
    {
        <div>
            <p>Nome do Filme: @(Model._Serie.NomeDaSerie)</p>
            <p>Filme nº @(Model._Serie.Id) cadastrado</p>
            <p>Genero do Filme: @(Model._Serie.Genero.GeneroDoFilme)</p>
            <p>Classificação Inficativa do Filme: @(Model._Serie.Classificacao.ClassificacaoDoFilme)</p>
            <p>Nome do Ator que está no Filme: @(Model._Serie.Ator.NomeDoAtor)</p>
            <p>Nome do Diretor do Filme:  @(Model._Serie.Diretor.NomeDoDiretor)</p>
        </div>
        <br />
    }
}
catch (Exception)
{
    <p>Não há série cadastrados no momento.</p>
}*@

<p>Não há série cadastrados no momento.</p>




